<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>My Website</h1>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('query_orders') }}">Query Orders</a>
            <a href="{{ url_for('import_data') }}">Import Data</a>
            <a href="{{ url_for('scrape_data') }}">Scrape Data</a>
            <a href="{{ url_for('import_gsheet') }}">Import from Google Sheets</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
